html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.title{
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
    color: #333;
}
.description{
    font-size: 21px;
    font-weight: 400;
    color: #888;
}
.bold{
    font-weight: 700;
}
.slider{
    padding: 50px 0;
}
.slider-origin{
    background-color: transparent; /* remove centre circle */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
}
.slider-inner{
    display: inline-block;
}
.slider-item{
    width: 74px;
    height: 100px;
    background-color: rgba(128,0,128,0.4);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    position: absolute;
    bottom: 200%;
    left: 50%;
    margin-left: -37px;
    cursor: pointer;
    
    transform-origin: center 200%;
    -webkit-transform-origin: center 200%;
    -ms-transform-origin: center 200%;
    -moz-transform-origin: center 200%;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
 
    text-align: center;
    color: #fff;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
 
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider-item.active{
    background-color: purple;
    cursor: default;
    z-index: 10;
    box-shadow: 0 0 15px 3px rgba(128,0,128,0.6);
    font-size: 22px;
}

.slider-item:not(.active):hover{
    background-color: #540554;
}